<link rel="stylesheet" href="https://use.fontawesome.com/f6bdc44dbc.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;600&display=swap" rel="stylesheet">
<style>
    .component-container {
        display: flex;
        /* height:auto; */

        padding: 2.5em;
    }

    .leftAligned {
        flex-direction: row;
    }

    .rightAligned {
        flex-direction: row-reverse;
    }

    .photo-container {
        width: 50%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;


    }

    .photo-container img {
        width: 100%;
        padding: auto;
        margin: auto;

    }

    .content-container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        box-sizing: border-box;

        padding: 0em 5em;

    }



    .content-container .cmp-teaser__action-container {
        margin: 2.5rem 0rem 0rem;
        padding: 1em 0em;
        text-decoration: none;
    }

    .cmp-teaser__action-link {

        padding: 1em 2em;
        text-decoration: none;
    }

    .content-container .cmp-teaser__pretitle {

        font-family: 'Baloo Tammudu 2', cursive;

    }

    .content-container .cmp-teaser__description {
        line-height: 1.5;
        font-family: 'Baloo Tammudu 2', cursive;
        color: rgba(0, 0, 0, 0.623);
    }

    .content-container .content-heading,
    .content-container .cmp-teaser__title {
        font-family: 'Baloo Tammudu 2', cursive;
        line-height: 1.2em;
        margin: 1rem 2.5rem 0rem;
    }

    .content-container .content-text cmp-teaser__title {
        margin: 1.5em 2.5em 0em;
        color: rgba(0, 0, 0, 0.623);
        font-family: 'Baloo Tammudu 2', cursive;
        line-height: 1.2em;

    }

    .content-container .cmp-teaser__title {
        margin: 0;
    }


    .content-text li {
        margin-bottom: 1em;
        list-style: none;
    }

    .content-text li:before {
        margin-left: -2.5em;
        font-family: FontAwesome;
        content: "\f00c";
        display: inline-block;
        padding-right: 1em;
        vertical-align: middle;
        color: #ff8100;
        float: left;
    }
</style>
<div data-sly-use.teaser="com.atco.aem.core.rumi.models.components.v1.TextImageModel"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html" data-sly-use.imageTemplate="image.html"
    data-sly-use.titleTemplate="title.html" data-sly-use.pretitleTemplate="pretitle.html"
    data-sly-use.descriptionTemplate="description.html" data-sly-use.actionsTemplate="actions.html"
    data-sly-test.hasContent="${teaser.imageResource || teaser.title || teaser.description || teaser.actions.size > 0}"
    class="cmp-teaser${!wcmmode.disabled && teaser.imageResource ? ' cq-dd-image' : ''}">
    <div class="component-container ${properties.imageAlignment}">
        <div class="photo-container">
            <picture>
                <source srcset=${properties.fileReference}>
                <sly data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>
            </picture>
        </div>
        <div class="content-container">
            <span class="content-subtitle">
                <sly data-sly-call="${pretitleTemplate.pretitle @ teaser=teaser}"></sly>
            </span>
            <sly class="content-heading" data-sly-call="${titleTemplate.title @ teaser=teaser}"></sly>
            <span class="content-text">
                <sly data-sly-call="${descriptionTemplate.description @ teaser=teaser}"></sly>
            </span>
            <sly data-sly-call="${actionsTemplate.actions @ teaser=teaser}"></sly>
        </div>
    </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='cmp-teaser'}"></sly>